.Boxes{
  width:120px;
	cursor: pointer;
	margin-bottom: 10px;
}
.taskerHeader {
	display: inline-flex;
	justify-content: space-between;
}
.inputTask,.addOneButton{
	width: 360px;
	font-size: 1.25em;
	padding: 14px;
}
.addOneButton {
	background: #1dd2af;
	border-left: 1px solid #1dd2af;
}
.main{
	max-width:400px;
	margin: 100px auto;
}
.taskerBody{

	position: relative;
	padding: 14px 40px 14px 14px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.toCompleteCheck{
	width: 14px;
	margin: 14px;
}
.taskerName{
	margin: 14px;
}

.deleteButton{
	margin: 14px;
	position: absolute;
	top: 20;
	right: 0;
}


